# Python basics practice test

**TOPIC: String Based Assignment Problem**

**1. Write a program to reverse a string.**

In [1]:
def reverse_string(s):
    res = ""
    for i in range(len(s)-1, -1, -1):
        res = res + s[i]

    return res

s = "PW Skills"
print(reverse_string(s))

sllikS WP

**2. Check if a string is a palindrome.**

In [2]:
def is_palindrome(s):
    res = ""
    for i in range(len(s)-1, -1, -1):
        res = res + s[i]

    if res == s:
        print("Given string is a Palindrome")
    else:
        print("Given string is not a palindrome")


s = "PW Skills"
is_palindrome(s)

s = "madam"
is_palindrome(s)

Given string is not a palindrome
Given string is a Palindrome

**3. Convert a string to uppercase.**

In [3]:
def convert_upper(s):
    res = ""
    for i in range(len(s)):
        a = chr(ord(s[i])-32)
        res+=a
    print(res)

s = "pw skills"
convert_upper(s)

PW SKILLS

**4. Convert a string to lowercase.**

In [4]:
def convert_lower(s):
    res = ""
    for i in range(len(s)):
        a = chr(ord(s[i])+32)
        res+=a
    print(res)

s = "HELLO"
convert_lower(s)

hello

**5. Count the number of vowels in a string.**

In [5]:
def count_vowels(s):
    count = 0
    for i in range(len(s)):
        if s[i] == 'a' or s[i] == 'A' or s[i] == 'e' or s[i] == 'E' or s[i] == 'i' or s[i] == 'I' or s[i] == 'o' or s[i] == 'O' or s[i] == 'u' or s[i] == 'U':
            count+=1
    return count

s = "Hello world"
print("Number of vowels in given string is: ",count_vowels(s))

s = "Python Programming Language"
print("Number of vowels in given string is: ",count_vowels(s))

Number of vowels in given string is:  3
Number of vowels in given string is:  8

**6. Count the number of consonants in a string.**

In [6]:
def count_consonants(s):
    count = 0
    for i in range(len(s)):
        if s[i] != 'a' or s[i] != 'A' or s[i] != 'e' or s[i] != 'E' or s[i] != 'i' or s[i] != 'I' or s[i] != 'o' or s[i] != 'O' or s[i] != 'u' or s[i] != 'U':
            count+=1
    return count

s = "Hello world"
print("Number of vowels in given string is: ",count_consonants(s))

s = "Python Programming Language"
print("Number of vowels in given string is: ",count_consonants(s))

Number of vowels in given string is:  11
Number of vowels in given string is:  27

**7. Remove all whitespaces from a string.**

In [7]:
def remove_whitespace(s):
    return s.replace(" ", "")


string_with_whitespace = "Hello,    world!"
result = remove_whitespace(string_with_whitespace)
print(result)

Hello,world!

In [8]:
# rstrip() - removes trailing whitespace or specified characters from the right side of a string
s = "   Hello, world!   "
result = s.rstrip()
print(result)  

# lstrip() - removes leading whitespace or specified characters from the left side of a string
s = "   Hello, world!   "
result = s.lstrip()
print(result)

   Hello, world!
Hello, world!

**8. Find the length of a string without using the `len()` function.**

In [9]:
def string_length(s):
    count = 0
    for char in s:
        count += 1
    return count

string = "Hello, world!"
length = string_length(string)
print("Length of the string is:", length)

Length of the string is: 13

**9. Check if a string contains a specific word.**

In [10]:
def contains_word(string, word):
    return word in string


string = "Hello, world! This is a test."
word_to_check = "test"
if contains_word(string, word_to_check):
    print("The string contains the word.")
else:
    print("The string does not contain the word.")

The string contains the word.

**10. Replace a word in a string with another word.**

In [11]:
def replace_word(string, old_word, new_word):
    return string.replace(old_word, new_word)


string = "Hello, world! This is a test."
old_word = "test"
new_word = "example"
result = replace_word(string, old_word, new_word)
print(result)

Hello, world! This is a example.

**11. Count the occurrences of a word in a string.**

In [12]:
def count_word_occurrences(string, word):
    return string.count(word)


string = "Hello, world! This is a test. Hello, test!"
word_to_count = "test"
occurrences = count_word_occurrences(string, word_to_count)
print("The word '{}' occurs {} times in the string.".format(word_to_count, occurrences))

The word 'test' occurs 2 times in the string.

**12. Find the first occurrence of a word in a string.**

In [13]:
def find_first_occurrence(string, word):
    return string.find(word)


string = "Hello, world! This is a test. Hello, test!"
word_to_find = "test"
index = find_first_occurrence(string, word_to_find)
if index != -1:
    print("The word '{}' first occurs at index {} in the string.".format(word_to_find, index))
else:
    print("The word '{}' is not found in the string.".format(word_to_find))

The word 'test' first occurs at index 24 in the string.

**13. Find the last occurrence of a word in a string.**

In [14]:
def find_last_occurrence(string, word):
    return string.rfind(word)


string = "Hello, world! This is a test. Hello, test!"
word_to_find = "test"
index = find_last_occurrence(string, word_to_find)
if index != -1:
    print("The word '{}' last occurs at index {} in the string.".format(word_to_find, index))
else:
    print("The word '{}' is not found in the string.".format(word_to_find))

The word 'test' last occurs at index 37 in the string.

**14. Split a string into a list of words.**

In [15]:
def split_string_into_words(string):
    return string.split()


string = "Python Programming Language!"
words = split_string_into_words(string)
print(words)

['Python', 'Programming', 'Language!']

**15. Join a list of words into a string.**

In [16]:
def join_words_into_string(words):
    return ' '.join(words)

# Example usage:
words = ['Python', 'Programming', 'Language.']
string = join_words_into_string(words)
print(string)

Python Programming Language.

**16. Convert a string where words are separated by spaces to one where words are separated by underscores.**

In [17]:
def convert_spaces_to_underscores(string):
    return string.replace(' ', '_')

original_string = "Hello, world! This is a Python Programming Language."
modified_string = convert_spaces_to_underscores(original_string)
print(modified_string)

Hello,_world!_This_is_a_Python_Programming_Language.

**17. Check if a string starts with a specific word or phrase.**

In [18]:
def starts_with_word(string, word):
    return string.startswith(word)

string = "Hello, world!"
word_to_check = "Hello"
if starts_with_word(string, word_to_check):
    print("The string starts with the word or phrase.")
else:
    print("The string does not start with the word or phrase.")

The string starts with the word or phrase.

**18. Check if a string ends with a specific word or phrase.**

In [19]:
def ends_with_word(string, word):
    return string.endswith(word)

string = "Hello, world!"
word_to_check = "world!"
if ends_with_word(string, word_to_check):
    print("The string ends with the word or phrase.")
else:
    print("The string does not end with the word or phrase.")

The string ends with the word or phrase.

**19. Convert a string to title case (e.g., "hello world" to "Hello World").**

In [20]:
def convert_to_title_case(string):
    return string.title()

string = "hello world"
title_case_string = convert_to_title_case(string)
print(title_case_string)

Hello World

**20. Find the longest word in a string.**

In [21]:
def find_longest_word(string):
    words = string.split()
    longest_word = ""
    max_length = 0
    for word in words:
        if len(word) > max_length:
            max_length = len(word)
            longest_word = word
    return longest_word


string = "Hello, world! This is a test sentence."
longest_word = find_longest_word(string)
print("The longest word in the string is:", longest_word)

The longest word in the string is: sentence.

**21. Find the shortest word in a string.**

In [22]:
def find_shortest_word(string):
    words = string.split()
    shortest_word = None
    min_length = float('inf')
    for word in words:
        if len(word) < min_length:
            min_length = len(word)
            shortest_word = word
    return shortest_word


string = "Hello, world! This is a test sentence."
shortest_word = find_shortest_word(string)
print("The shortest word in the string is:", shortest_word)

The shortest word in the string is: a

**22. Reverse the order of words in a string.**

In [23]:
def reverse_words(string):
    words = string.split()
    reversed_words = reversed(words)
    reversed_string = ' '.join(reversed_words)
    return reversed_string

string = "Hello, world! Python C/C++ or Java"
reversed_string = reverse_words(string)
print("Original string:", string)
print("Reversed string:", reversed_string)

Original string: Hello, world! Python C/C++ or Java
Reversed string: Java or C/C++ Python world! Hello,

**23. Check if a string is alphanumeric.**

In [24]:
def is_alphanumeric(string):
    return string.isalnum()

# Example usage:
string1 = "Hello123"
string2 = "Hello123!"
if is_alphanumeric(string1):
    print("String 1 is alphanumeric.")
else:
    print("String 1 is not alphanumeric.")
if is_alphanumeric(string2):
    print("String 2 is alphanumeric.")
else:
    print("String 2 is not alphanumeric.")

String 1 is alphanumeric.
String 2 is not alphanumeric.

**24. Extract all digits from a string.**

In [25]:
import re

def extract_digits(input_string):
    # Using regular expression to find all digits in the input string
    digits_list = re.findall(r'\d', input_string)
    # Joining the digits list into a single string
    digits_string = ''.join(digits_list)
    return digits_string

input_string = "Hello 123 World 456"
result = extract_digits(input_string)
print("Digits extracted:", result)

Digits extracted: 123456

**25. Extract all alphabets from a string.**

In [26]:
import re

def extract_alphabets(input_string):
    # Using regular expression to find all alphabetic characters in the input string
    alphabets_list = re.findall(r'[a-zA-Z]', input_string)
    # Joining the alphabets list into a single string
    alphabets_string = ''.join(alphabets_list)
    return alphabets_string

input_string = "Hello 123 World 456"
result = extract_alphabets(input_string)
print("Alphabets extracted:", result)

Alphabets extracted: HelloWorld

**26. Count the number of uppercase letters in a string.**

In [27]:
def count_uppercase(input_string):
    count = 0
    for char in input_string:
        if char.isupper():
            count += 1
    return count

input_string = "Hello World"
uppercase_count = count_uppercase(input_string)
print("Number of uppercase letters:", uppercase_count)

Number of uppercase letters: 2

**27. Count the number of lowercase letters in a string.**

In [28]:
def count_lowercase(input_string):
    count = 0
    for char in input_string:
        if char.islower():
            count += 1
    return count


input_string = "Hello World"
lowercase_count = count_lowercase(input_string)
print("Number of lowercase letters:", lowercase_count)

Number of lowercase letters: 8

**28. Swap the case of each character in a string.**

In [29]:
def swap_case(input_string):
    return input_string.swapcase()

# Example usage:
input_string = "Hello World"
swapped_string = swap_case(input_string)
print("Swapped case string:", swapped_string)

Swapped case string: hELLO wORLD

**29. Remove a specific word from a string.**

In [30]:
def remove_word(input_string, word_to_remove):
    return input_string.replace(word_to_remove, '')


input_string = "Hello world, this is a python programming language."
word_to_remove = "python"
result_string = remove_word(input_string, word_to_remove)
print("String after removing '{}':".format(word_to_remove), result_string)

String after removing 'python': Hello world, this is a  programming language.

**30. Check if a string is a valid email address.**

In [31]:
import re

def is_valid_email(email):
    # Regular expression pattern for a valid email address
    pattern = r'^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$'
    # Matching the pattern against the email address
    if re.match(pattern, email):
        return True
    else:
        return False

email1 = "example@example.com"
email2 = "invalid_email.com"

print("Is '{}' a valid email address?".format(email1), is_valid_email(email1))
print("Is '{}' a valid email address?".format(email2), is_valid_email(email2))

Is 'example@example.com' a valid email address? True
Is 'invalid_email.com' a valid email address? False

**31. Extract the username from an email address string.**

In [32]:
def extract_username(email):
    # Splitting the email address at the '@' symbol
    parts = email.split('@')
    # Extracting the username part (the part before the '@' symbol)
    username = parts[0]
    return username


email = "example@example.com"
username = extract_username(email)
print("Username extracted from email '{}':".format(email), username)

Username extracted from email 'example@example.com': example

**32. Extract the domain name from an email address string.**

In [33]:
def extract_domain(email):
    # Splitting the email address at the '@' symbol
    parts = email.split('@')
    # Extracting the domain part (the part after the '@' symbol)
    domain = parts[1]
    return domain


email = "example@example.com"
domain = extract_domain(email)
print("Domain extracted from email '{}':".format(email), domain)

Domain extracted from email 'example@example.com': example.com

**33. Replace multiple spaces in a string with a single space.**

In [34]:
import re

def replace_multiple_spaces(input_string):
    return re.sub(r'\s+', ' ', input_string)

input_string = "This     string    has    multiple   spaces."
result_string = replace_multiple_spaces(input_string)
print("String after replacing multiple spaces:", result_string)

String after replacing multiple spaces: This string has multiple spaces.

**34. Check if a string is a valid URL.**

In [35]:
from urllib.parse import urlparse

def is_valid_url(url):
    try:
        result = urlparse(url)
        return all([result.scheme, result.netloc])
    except ValueError:
        return False

url1 = "https://www.example.com"
url2 = "invalidurl.com"

print("Is '{}' a valid URL?".format(url1), is_valid_url(url1))
print("Is '{}' a valid URL?".format(url2), is_valid_url(url2))

Is 'https://www.example.com' a valid URL? True
Is 'invalidurl.com' a valid URL? False

**35. Extract the protocol (http or https) from a URL string.**

In [36]:
from urllib.parse import urlparse

def extract_protocol(url):
    parsed_url = urlparse(url)
    return parsed_url.scheme


url = "https://www.example.com"
protocol = extract_protocol(url)
print("Protocol extracted from URL '{}':".format(url), protocol)

Protocol extracted from URL 'https://www.example.com': https

**36. Find the frequency of each character in a string.**

In [37]:
def character_frequency(input_string):
    frequency = {}
    for char in input_string:
        if char in frequency:
            frequency[char] += 1
        else:
            frequency[char] = 1
    return frequency


input_string = "hello world!! Python, Java, C"
freq = character_frequency(input_string)
print("Character frequency:", freq)

Character frequency: {'h': 2, 'e': 1, 'l': 3, 'o': 3, ' ': 4, 'w': 1, 'r': 1, 'd': 1, '!': 2, 'P': 1, 'y': 1, 't': 1, 'n': 1, ',': 2, 'J': 1, 'a': 2, 'v': 1, 'C': 1}

**37. Remove all punctuation from a string.**

In [38]:
import re

def remove_punctuation(input_string):
    return re.sub(r'[^\w\s]', '', input_string)

# Example usage:
input_string = "Hello, world!! How are you?"
result = remove_punctuation(input_string)
print("String after removing punctuation:", result)

String after removing punctuation: Hello world How are you

**38. Check if a string contains only digits.**

In [39]:
def contains_only_digits(input_string):
    return input_string.isdigit()


string1 = "12345"
string2 = "123abc"

print("Does '{}' contain only digits?".format(string1), contains_only_digits(string1))
print("Does '{}' contain only digits?".format(string2), contains_only_digits(string2))

Does '12345' contain only digits? True
Does '123abc' contain only digits? False

**39. Check if a string contains only alphabets.**

In [40]:
def contains_only_alphabets(input_string):
    return input_string.isalpha()


string1 = "Hello"
string2 = "Hello123"

print("Does '{}' contain only alphabetic characters?".format(string1), contains_only_alphabets(string1))
print("Does '{}' contain only alphabetic characters?".format(string2), contains_only_alphabets(string2))

Does 'Hello' contain only alphabetic characters? True
Does 'Hello123' contain only alphabetic characters? False

**40. Convert a string to a list of characters.**

In [41]:
def string_to_list(input_string):
    return [char for char in input_string]

input_string = "hello!! How Are You?"
char_list = string_to_list(input_string)
print("List of characters:", char_list)

List of characters: ['h', 'e', 'l', 'l', 'o', '!', '!', ' ', 'H', 'o', 'w', ' ', 'A', 'r', 'e', ' ', 'Y', 'o', 'u', '?']

**41. Check if two strings are anagrams.**

In [42]:
def are_anagrams(string1, string2):
    # Removing spaces and converting to lowercase to handle case-insensitivity
    string1 = string1.replace(" ", "").lower()
    string2 = string2.replace(" ", "").lower()

    # If lengths are different, they can't be anagrams
    if len(string1) != len(string2):
        return False

    # Counting frequency of characters in both strings
    char_count1 = {}
    char_count2 = {}

    for char in string1:
        char_count1[char] = char_count1.get(char, 0) + 1

    for char in string2:
        char_count2[char] = char_count2.get(char, 0) + 1

    # Comparing character counts
    return char_count1 == char_count2


string1 = "listen"
string2 = "silent"
print("Are '{}' and '{}' anagrams?".format(string1, string2), are_anagrams(string1, string2))

Are 'listen' and 'silent' anagrams? True

**42. Encode a string using a Caesar cipher.**

In [43]:
def caesar_cipher_encode(input_string, shift):
    encoded_string = ''
    for char in input_string:
        if char.isalpha():
            # Determine the shift based on whether the character is uppercase or lowercase
            if char.isupper():
                encoded_char = chr((ord(char) - 65 + shift) % 26 + 65)
            else:
                encoded_char = chr((ord(char) - 97 + shift) % 26 + 97)
            encoded_string += encoded_char
        else:
            encoded_string += char
    return encoded_string

plaintext = "Hello, World!"
shift = 3
encoded_text = caesar_cipher_encode(plaintext, shift)
print("Encoded text:", encoded_text)

Encoded text: Khoor, Zruog!

**43. Decode a Caesar cipher encoded string.**

In [44]:
def caesar_cipher_decode(encoded_string, shift):
    decoded_string = ''
    for char in encoded_string:
        if char.isalpha():
            # Determine the shift based on whether the character is uppercase or lowercase
            if char.isupper():
                decoded_char = chr((ord(char) - 65 - shift) % 26 + 65)
            else:
                decoded_char = chr((ord(char) - 97 - shift) % 26 + 97)
            decoded_string += decoded_char
        else:
            decoded_string += char
    return decoded_string


encoded_text = "Khoor, Zruog!"
shift = 3
decoded_text = caesar_cipher_decode(encoded_text, shift)
print("Decoded text:", decoded_text)

Decoded text: Hello, World!

**44. Find the most frequent word in a string.**

In [45]:
def most_frequent_word(input_string):
    # Tokenize the input string into words
    words = input_string.split()

    # Count the frequency of each word using a dictionary
    word_frequency = {}
    for word in words:
        word_frequency[word] = word_frequency.get(word, 0) + 1

    # Find the word with the highest frequency
    most_frequent_word = max(word_frequency, key=word_frequency.get)
    max_frequency = word_frequency[most_frequent_word]

    return most_frequent_word, max_frequency


input_string = "apple banana orange banana apple banana"
word, frequency = most_frequent_word(input_string)
print("Most frequent word:", word)
print("Frequency:", frequency)

Most frequent word: banana
Frequency: 3

**45. Find all unique words in a string.**

In [46]:
def unique_words(input_string):
    # Tokenize the input string into words
    words = input_string.split()
    # Create a set of unique words
    unique_word_set = set(words)
    return unique_word_set

input_string = "apple banana orange banana apple banana"
unique_words_set = unique_words(input_string)
print("Unique words:", unique_words_set)

Unique words: {'orange', 'apple', 'banana'}

**46. Count the number of syllables in a string.**

In [47]:
def count_syllables(input_string):
    vowels = "aeiouyAEIOUY"
    count = 0
    in_word = False

    for char in input_string:
        if char in vowels:
            if not in_word:
                count += 1
                in_word = True
        else:
            in_word = False

    return count


input_string = "Hello world! How are you?"
syllable_count = count_syllables(input_string)
print("Number of syllables:", syllable_count)

Number of syllables: 7

**47. Check if a string contains any special characters.**

In [48]:
def contains_special_characters(input_string):
    for char in input_string:
        if not char.isalnum():
            return True
    return False


input_string1 = "Hello123"
input_string2 = "Hello@123"

print("Does '{}' contain any special characters?".format(input_string1), contains_special_characters(input_string1))
print("Does '{}' contain any special characters?".format(input_string2), contains_special_characters(input_string2))

Does 'Hello123' contain any special characters? False
Does 'Hello@123' contain any special characters? True

**48. Remove the nth word from a string.**

In [49]:
def remove_nth_word(input_string, n):
    words = input_string.split()
    if n >= 0 and n < len(words):
        del words[n]
        return ' '.join(words)
    else:
        return "Invalid index"

input_string = "This is a sample string to test the function"
n = 3  # Index of the word to remove
result = remove_nth_word(input_string, n)
print("String after removing the {}th word:".format(n), result)

String after removing the 3th word: This is a string to test the function

**49. Insert a word at the nth position in a string.**

In [50]:
def insert_word_at_nth_position(input_string, word, n):
    words = input_string.split()
    if n >= 0 and n <= len(words):
        words.insert(n, word)
        return ' '.join(words)
    else:
        return "Invalid index"


input_string = "This is a sample string to test the function"
word_to_insert = "new"
n = 3  # Index to insert the word
result = insert_word_at_nth_position(input_string, word_to_insert, n)
print("String after inserting '{}' at position {}:".format(word_to_insert, n), result)

String after inserting 'new' at position 3: This is a new sample string to test the function

**50. Convert a CSV string to a list of lists.**

In [51]:
import csv
from io import StringIO

def csv_string_to_list(csv_string):
    # Use StringIO to create a file-like object from the CSV string
    csv_file = StringIO(csv_string)
    # Use csv.reader to read the CSV data into a list of lists
    csv_reader = csv.reader(csv_file)
    # Convert the csv_reader object to a list of lists
    csv_data = list(csv_reader)
    return csv_data

csv_string = "1,John,Smith\n2,Jane,Doe\n3,Bob,Johnson"
csv_list = csv_string_to_list(csv_string)
print("CSV data as a list of lists:", csv_list)

CSV data as a list of lists: [['1', 'John', 'Smith'], ['2', 'Jane', 'Doe'], ['3', 'Bob', 'Johnson']]

# List Based Practice Problem :

**1. Create a list with integers from 1 to 10.**

In [52]:
# Creating a list with integers from 1 to 10
numbers = list(range(1, 11))

# Printing the list
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

**2. Find the length of a list without using the `len()` function.**

In [53]:
# Example list
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Initialize a counter
count = 0

# Iterate through the list and count elements
for _ in numbers:
    count += 1

# Print the length of the list
print("Length of the list:", count)

Length of the list: 10

**3. Append an element to the end of a list.**

In [54]:
# Original list
numbers = [1, 2, 3, 4, 5]

# Element to append
numbers.append(6)

# Print the updated list
print(numbers)

[1, 2, 3, 4, 5, 6]

**4. Insert an element at a specific index in a list.**

In [55]:
# Original list
numbers = [1, 2, 3, 5, 6]

# Insert element '4' at index 3
numbers.insert(3, 4)

# Print the updated list
print(numbers)

[1, 2, 3, 4, 5, 6]

**5. Remove an element from a list by its value.**

In [56]:
# Original list
numbers = [1, 2, 3, 4, 5, 6]

# Remove the element '4' from the list
numbers.remove(4)

# Print the updated list
print(numbers)

[1, 2, 3, 5, 6]

**6. Remove an element from a list by its index.**

In [57]:
# Original list
numbers = [1, 2, 3, 4, 5, 6]

# Remove the element at index 3
del numbers[3]

# Print the updated list
print("Updated list:", numbers)

Updated list: [1, 2, 3, 5, 6]

**7. Check if an element exists in a list.**

In [58]:
# Example list
numbers = [1, 2, 3, 4, 5, 6]

# Element to check
element_to_check = 4

# Check if the element exists in the list
if element_to_check in numbers:
    print(f"{element_to_check} exists in the list.")
else:
    print(f"{element_to_check} does not exist in the list.")

4 exists in the list.

**8. Find the index of the first occurrence of an element in a list.**

In [59]:
# Example list
numbers = [1, 2, 3, 4, 5, 4, 6]

# Element to find
element_to_find = 4

# Find the index of the first occurrence
index = numbers.index(element_to_find)

# Print the index
print(f"The first occurrence of {element_to_find} is at index {index}.")

The first occurrence of 4 is at index 3.

**9. Count the occurrences of an element in a list.**

In [60]:
# Example list
numbers = [1, 2, 3, 4, 5, 4, 6, 4]

# Element to count
element_to_count = 4

# Count the occurrences
count = numbers.count(element_to_count)

# Print the result
print(f"The element {element_to_count} occurs {count} times in the list.")

The element 4 occurs 3 times in the list.

**10. Reverse the order of elements in a list.**

In [61]:
# Example list
numbers = [1, 2, 3, 4, 5]

# Reverse the list using slicing
reversed_numbers = numbers[::-1]

# Print the reversed list
print(reversed_numbers)

[5, 4, 3, 2, 1]

**11. Sort a list in ascending order.**

In [62]:
# Example list
numbers = [5, 3, 8, 1, 2]

# Sort the list in ascending order and create a new list
sorted_numbers = sorted(numbers)

# Print the sorted list
print(sorted_numbers)

[1, 2, 3, 5, 8]

**12. Sort a list in descending order.**

In [63]:
# Example list
numbers = [5, 3, 8, 1, 2]

# Sort the list in descending order and create a new list
sorted_numbers = sorted(numbers, reverse=True)

# Print the sorted list
print(sorted_numbers)

[8, 5, 3, 2, 1]

**13. Create a list of even numbers from 1 to 20.**

In [64]:
# Create a list of even numbers from 1 to 20
even_numbers = [num for num in range(1, 21) if num % 2 == 0]

# Print the list
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

**14. Create a list of odd numbers from 1 to 20.**

In [65]:
odd_numbers = [x for x in range(1, 21) if x % 2 != 0]
print(odd_numbers)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

**15. Find the sum of all elements in a list**

In [66]:
numbers = [1, 2, 3, 4, 5]
total_sum = sum(numbers)
print(total_sum)

15

**16. Find the maximum value in a list**

In [67]:
numbers = [1, 2, 3, 4, 5]
max_value = max(numbers)
print(max_value)

5

**17. Find the minimum value in a list**

In [68]:
numbers = [1, 2, 3, 4, 5]
min_value = min(numbers)
print(min_value)

1

**18. Create a list of squares of numbers from 1 to 10.**

In [69]:
squares = [x**2 for x in range(1, 11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

**19. Create a list of random numbers**

In [70]:
import random
random_numbers = [random.randint(1, 100) for _ in range(10)]
print(random_numbers)

[24, 24, 36, 100, 45, 4, 11, 81, 34, 31]

**20. Remove duplicates from a list.**

In [71]:
numbers = [1, 2, 2, 3, 4, 4, 5]
unique_numbers = list(set(numbers))
print(unique_numbers)

[1, 2, 3, 4, 5]

**21. Find the common elements between two lists**

In [72]:
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]
common_elements = list(set(list1) & set(list2))
print(common_elements)

[4, 5]

**22. Find the difference between two lists.**

In [73]:
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]
difference = list(set(list1) - set(list2))
print(difference)

[1, 2, 3]

**23. Merge two lists.**

In [74]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
merged_list = list1 + list2
print(merged_list)

[1, 2, 3, 4, 5, 6]

**24. Multiply all elements in a list by 2.**

In [75]:
numbers = [1, 2, 3, 4, 5]
doubled_numbers = [x * 2 for x in numbers]
print(doubled_numbers)

[2, 4, 6, 8, 10]

**25. Filter out all even numbers from a list.**

In [76]:
numbers = [1, 2, 3, 4, 5, 6]
filtered_numbers = [x for x in numbers if x % 2 != 0]
print(filtered_numbers)

[1, 3, 5]

**26. Convert a list of strings to a list of integers.**

In [77]:
str_list = ['1', '2', '3', '4', '5']
int_list = [int(x) for x in str_list]
print(int_list)

[1, 2, 3, 4, 5]

**27. Convert a list of integers to a list of strings**

In [78]:
int_list = [1, 2, 3, 4, 5]
str_list = [str(x) for x in int_list]
print(str_list)

['1', '2', '3', '4', '5']

**28. Flatten a nested list**

In [79]:
nested_list = [[1, 2], [3, 4], [5, 6]]
flattened_list = [item for sublist in nested_list for item in sublist]
print(flattened_list)

[1, 2, 3, 4, 5, 6]

**29. Create a list of the first 10 Fibonacci numbers**

In [80]:
fib = [0, 1]
for i in range(2, 10):
    fib.append(fib[i-1] + fib[i-2])
print(fib)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

**30. Check if a list is sorted**

In [81]:
numbers = [1, 2, 3, 4, 5]
is_sorted = numbers == sorted(numbers)
print(is_sorted)

True

**31. Rotate a list to the left by `n` positions**

In [82]:
numbers = [1, 2, 3, 4, 5]
n = 2
rotated_list = numbers[n:] + numbers[:n]
print(rotated_list)

[3, 4, 5, 1, 2]

**32. Rotate a list to the right by `n` positions**

In [83]:
numbers = [1, 2, 3, 4, 5]
n = 2
rotated_list = numbers[-n:] + numbers[:-n]
print(rotated_list)

[4, 5, 1, 2, 3]

**33. Create a list of prime numbers up to 50**

In [84]:
primes = []
for num in range(2, 51):
    if all(num % i != 0 for i in range(2, int(num ** 0.5) + 1)):
        primes.append(num)
print(primes)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

**34. Split a list into chunks of size `n`**

In [85]:
def chunk_list(lst, n):
    return [lst[i:i+n] for i in range(0, len(lst), n)]

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
chunks = chunk_list(numbers, 3)
print(chunks)

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10]]

**35. Find the second largest number in a list**

In [86]:
numbers = [1, 2, 3, 4, 5]
second_largest = sorted(set(numbers))[-2]
print(second_largest)

4

**36. Replace every element in a list with its square**

In [87]:
numbers = [1, 2, 3, 4, 5]
squared_numbers = [x**2 for x in numbers]
print(squared_numbers)

[1, 4, 9, 16, 25]

**37. Convert a list to a dictionary where list elements become keys and their indices become values**

In [88]:
numbers = [1, 2, 3, 4, 5]
dict_from_list = {value: index for index, value in enumerate(numbers)}
print(dict_from_list)

{1: 0, 2: 1, 3: 2, 4: 3, 5: 4}

**38. Shuffle the elements of a list randomly**

In [89]:
import random
numbers = [1, 2, 3, 4, 5]
random.shuffle(numbers)
print(numbers)

[2, 1, 3, 5, 4]

**39. Create a list of the first 10 factorial numbers**

In [90]:
import math
factorials = [math.factorial(x) for x in range(10)]
print(factorials)

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

**40. Check if two lists have at least one element in common**

In [91]:
list1 = [1, 2, 3, 4]
list2 = [3, 4, 5, 6]
common_elements = bool(set(list1) & set(list2))
print(common_elements)

True

**41. Remove all elements from a list**

In [92]:
numbers = [1, 2, 3, 4, 5]
numbers.clear()
print(numbers)

[]

**42. Replace negative numbers in a list with 0**

In [93]:
numbers = [-1, 2, -3, 4, 5]
positive_numbers = [max(0, x) for x in numbers]
print(positive_numbers)

[0, 2, 0, 4, 5]

**43. Convert a string into a list of words**

In [94]:
sentence = "Hello world this is Python"
words = sentence.split()
print(words)

['Hello', 'world', 'this', 'is', 'Python']

**44. Convert a list of words into a string**

In [95]:
words = ['Hello', 'world', 'this', 'is', 'Python']
sentence = ' '.join(words)
print(sentence)

Hello world this is Python

**45. Create a list of the first `n` powers of 2**

In [96]:
n = 5
powers_of_two = [2**x for x in range(n)]
print(powers_of_two)

[1, 2, 4, 8, 16]

**46. Find the longest string in a list of strings**

In [97]:
strings = ["apple", "banana", "cherry"]
longest_string = max(strings, key=len)
print(longest_string)

banana

**47. Find the shortest string in a list of strings**

In [98]:
strings = ["apple", "banana", "cherry"]
shortest_string = min(strings, key=len)
print(shortest_string)

apple

**48. Create a list of the first `n` triangular numbers**

In [99]:
n = 5
triangular_numbers = [sum(range(x + 1)) for x in range(n)]
print(triangular_numbers)

[0, 1, 3, 6, 10]

**49. Check if a list contains another list as a subsequence**

In [100]:
list1 = [1, 2, 3, 4]
list2 = [2, 3]
is_subsequence = all(x in list1 for x in list2)
print(is_subsequence)

True

**50. Swap two elements in a list by their indices**

In [101]:
numbers = [1, 2, 3, 4, 5]
i, j = 1, 3
numbers[i], numbers[j] = numbers[j], numbers[i]
print(numbers)

[1, 4, 3, 2, 5]

# Tuple Based Practice Problem :

**1. Create a tuple with integers from 1 to 5**

In [102]:
my_tuple = (1, 2, 3, 4, 5)
print(my_tuple)

(1, 2, 3, 4, 5)

2. Access the third element of a tuple

In [103]:
my_tuple = (1, 2, 3, 4, 5)
third_element = my_tuple[2]
print(third_element)

3

3. Find the length of a tuple without using the `len()` function

In [104]:
my_tuple = (1, 2, 3, 4, 5)
length = sum(1 for _ in my_tuple)
print(length)

5

4. Count the occurrences of an element in a tuple

In [105]:
my_tuple = (1, 2, 3, 1, 4, 1, 5)
count = my_tuple.count(1)
print(count)

3

 5. Find the index of the first occurrence of an element in a tuple

In [106]:
my_tuple = (1, 2, 3, 1, 4, 1, 5)
index = my_tuple.index(1)
print(index)

0

6. Check if an element exists in a tuple

In [107]:
my_tuple = (1, 2, 3, 4, 5)
exists = 3 in my_tuple
print(exists)

True

7. Convert a tuple to a list.

In [108]:
my_tuple = (1, 2, 3, 4, 5)
my_list = list(my_tuple)
print(my_list)

[1, 2, 3, 4, 5]

 8. Convert a list to a tuple

In [109]:
my_list = [1, 2, 3, 4, 5]
my_tuple = tuple(my_list)
print(my_tuple)

(1, 2, 3, 4, 5)

9. Unpack the elements of a tuple into variables.

In [110]:
my_tuple = (1, 2, 3)
a, b, c = my_tuple
print(a, b, c)

1 2 3

10. Create a tuple of even numbers from 1 to 10.

In [111]:
even_tuple = tuple(x for x in range(1, 11) if x % 2 == 0)
print(even_tuple)

(2, 4, 6, 8, 10)

11. Create a tuple of odd numbers from 1 to 10

In [112]:
odd_tuple = tuple(x for x in range(1, 11) if x % 2 != 0)
print(odd_tuple)

(1, 3, 5, 7, 9)

12. Concatenate two tuples

In [113]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
concatenated_tuple = tuple1 + tuple2
print(concatenated_tuple)

(1, 2, 3, 4, 5, 6)

 13. Repeat a tuple three times

In [114]:
my_tuple = (1, 2, 3)
repeated_tuple = my_tuple * 3
print(repeated_tuple)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

 14. Check if a tuple is empty.

In [115]:
my_tuple = ()
is_empty = len(my_tuple) == 0
print(is_empty)

True

15. Create a nested tuple.

In [116]:
nested_tuple = ((1, 2), (3, 4), (5, 6))
print(nested_tuple)

((1, 2), (3, 4), (5, 6))

16. Access the first element of a nested tuple

In [117]:
nested_tuple = ((1, 2), (3, 4), (5, 6))
first_element = nested_tuple[0]
print(first_element)

(1, 2)

17. Create a tuple with a single element

In [118]:
single_element_tuple = (1,)
print(single_element_tuple)

(1,)

18. Compare two tuples

In [119]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)
are_equal = tuple1 == tuple2
print(are_equal)

True

 19. Delete a tuple.

In [120]:
my_tuple = (1, 2, 3)
del my_tuple
# print(my_tuple)  # This would raise an error as the tuple is deleted

20. Slice a tuple.

In [121]:
my_tuple = (1, 2, 3, 4, 5)
sliced_tuple = my_tuple[1:4]
print(sliced_tuple)

(2, 3, 4)

21. Find the maximum value in a tuple

In [122]:
my_tuple = (1, 2, 3, 4, 5)
max_value = max(my_tuple)
print(max_value)

5

 22. Find the minimum value in a tuple

In [123]:
my_tuple = (1, 2, 3, 4, 5)
min_value = min(my_tuple)
print(min_value)

1

23. Convert a string to a tuple of characters.

In [124]:
my_string = "hello"
char_tuple = tuple(my_string)
print(char_tuple)

('h', 'e', 'l', 'l', 'o')

24. Convert a tuple of characters to a string

In [125]:
char_tuple = ('h', 'e', 'l', 'l', 'o')
my_string = ''.join(char_tuple)
print(my_string)

hello

25. Create a tuple from multiple data types.

In [126]:
mixed_tuple = (1, "hello", 3.14, True)
print(mixed_tuple)

(1, 'hello', 3.14, True)

26. Check if two tuples are identical.

In [127]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)
are_identical = tuple1 == tuple2
print(are_identical)

True

27. Sort the elements of a tuple.

In [128]:
my_tuple = (3, 1, 2, 4, 5)
sorted_tuple = tuple(sorted(my_tuple))
print(sorted_tuple)

(1, 2, 3, 4, 5)

28. Convert a tuple of integers to a tuple of strings.

In [129]:
int_tuple = (1, 2, 3, 4)
str_tuple = tuple(map(str, int_tuple))
print(str_tuple)

('1', '2', '3', '4')

 29. Convert a tuple of strings to a tuple of integers

In [130]:
str_tuple = ('1', '2', '3', '4')
int_tuple = tuple(map(int, str_tuple))
print(int_tuple)

(1, 2, 3, 4)

 30. Merge two tuples.

In [131]:
tuple1 = (1, 2)
tuple2 = (3, 4)
merged_tuple = tuple1 + tuple2
print(merged_tuple)

(1, 2, 3, 4)

31. Flatten a nested tuple

In [132]:
nested_tuple = ((1, 2), (3, 4), (5, 6))
flattened_tuple = tuple(item for sublist in nested_tuple for item in sublist)
print(flattened_tuple)

(1, 2, 3, 4, 5, 6)

32. Create a tuple of the first 5 prime numbers

In [133]:
primes = (2, 3, 5, 7, 11)
print(primes)

(2, 3, 5, 7, 11)

 33. Check if a tuple is a palindrome

In [134]:
my_tuple = (1, 2, 3, 2, 1)
is_palindrome = my_tuple == my_tuple[::-1]
print(is_palindrome)

True

34. Create a tuple of squares of numbers from 1 to 5

In [135]:
squares_tuple = tuple(x**2 for x in range(1, 6))
print(squares_tuple)

(1, 4, 9, 16, 25)

35. Filter out all even numbers from a tuple

In [136]:
my_tuple = (1, 2, 3, 4, 5, 6)
odd_tuple = tuple(x for x in my_tuple if x % 2 != 0)
print(odd_tuple)

(1, 3, 5)

 36. Multiply all elements in a tuple by 2

In [137]:
my_tuple = (1, 2, 3, 4, 5)
doubled_tuple = tuple(x * 2 for x in my_tuple)
print(doubled_tuple)

(2, 4, 6, 8, 10)

37. Create a tuple of random numbers.

In [138]:
import random
random_tuple = tuple(random.randint(1, 100) for _ in range(5))
print(random_tuple)

(5, 93, 73, 20, 90)

 38. Check if a tuple is sorted.

In [139]:
my_tuple = (1, 2, 3, 4, 5)
is_sorted = my_tuple == tuple(sorted(my_tuple))
print(is_sorted)

True

39. Rotate a tuple to the left by `n` positions.

In [140]:
my_tuple = (1, 2, 3, 4, 5)
n = 2
rotated_tuple = my_tuple[n:] + my_tuple[:n]
print(rotated_tuple)

(3, 4, 5, 1, 2)

 40. Rotate a tuple to the right by `n` positions.

In [141]:
my_tuple = (1, 2, 3, 4, 5)
n = 2
rotated_tuple = my_tuple[-n:] + my_tuple[:-n]
print(rotated_tuple)

(4, 5, 1, 2, 3)

41. Create a tuple of the first 5 Fibonacci numbers

In [142]:
fib_tuple = (0, 1, 1, 2, 3)
print(fib_tuple)

(0, 1, 1, 2, 3)

42. Create a tuple from user input

In [143]:
user_input = input("Enter some values separated by commas: ")
user_tuple = tuple(user_input.split(','))
print(user_tuple)

('gas', 'hello', 'hi')

43. Swap two elements in a tuple

In [144]:
my_tuple = (1, 2, 3, 4)
a, b, c, d = my_tuple
swapped_tuple = (b, a, c, d)
print(swapped_tuple)

(2, 1, 3, 4)

 44. Reverse the elements of a tuple

In [145]:
my_tuple = (1, 2, 3, 4, 5)
reversed_tuple = my_tuple[::-1]
print(reversed_tuple)

(5, 4, 3, 2, 1)

 45. Create a tuple of the first `n` powers of 2

In [146]:
n = 5
powers_of_2 = tuple(2**i for i in range(n))
print(powers_of_2)

(1, 2, 4, 8, 16)

46. Find the longest string in a tuple of strings

In [147]:
my_tuple = ("apple", "banana", "cherry")
longest_string = max(my_tuple, key=len)
print(longest_string)

banana

 47. Find the shortest string in a tuple of strings

In [148]:
my_tuple = ("apple", "banana", "cherry")
shortest_string = min(my_tuple, key=len)
print(shortest_string)

apple

48. Create a tuple of the first `n` triangular numbers.

In [149]:
n = 5
triangular_numbers = tuple((i * (i + 1)) // 2 for i in range(1, n+1))
print(triangular_numbers)

(1, 3, 6, 10, 15)

49. Check if a tuple contains another tuple as a subsequence

In [150]:
my_tuple = (1, 2, 3, 4, 5)
sub_tuple = (2, 3)
contains_subtuple = all(x in my_tuple for x in sub_tuple)
print(contains_subtuple)

True

 50. Create a tuple of alternating 1s and 0s of length `n`

In [151]:
n = 6
alternating_tuple = tuple(1 if i % 2 == 0 else 0 for i in range(n))
print(alternating_tuple)

(1, 0, 1, 0, 1, 0)

# Set Based Practice Problem :

1. Create a set with integers from 1 to 5

In [152]:
my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

2. Add an element to a set

In [153]:
my_set = {1, 2, 3}
my_set.add(4)
print(my_set)

{1, 2, 3, 4}

 3. Remove an element from a set

In [154]:
my_set = {1, 2, 3, 4}
my_set.remove(3)
print(my_set)

{1, 2, 4}

4. Check if an element exists in a set

In [155]:
my_set = {1, 2, 3, 4}
exists = 2 in my_set
print(exists)

True

 5. Find the length of a set without using the `len()` function

In [156]:
my_set = {1, 2, 3, 4, 5}
length = sum(1 for _ in my_set)
print(length)

5

6. Clear all elements from a set.

In [157]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

 7. Create a set of even numbers from 1 to 10

In [158]:
even_set = {x for x in range(1, 11) if x % 2 == 0}
print(even_set)

{2, 4, 6, 8, 10}

8. Create a set of odd numbers from 1 to 10

In [159]:
odd_set = {x for x in range(1, 11) if x % 2 != 0}
print(odd_set)

{1, 3, 5, 7, 9}

9. Find the union of two sets.

In [160]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1 | set2
print(union_set)

{1, 2, 3, 4, 5}

10. Find the intersection of two sets

In [161]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
intersection_set = set1 & set2
print(intersection_set)

{3}

11. Find the difference between two sets.

In [162]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
difference_set = set1 - set2
print(difference_set)

{1, 2}

12. Check if a set is a subset of another set

In [163]:
set1 = {1, 2}
set2 = {1, 2, 3, 4}
is_subset = set1.issubset(set2)
print(is_subset)

True

 13. Check if a set is a superset of another set.

In [164]:
set1 = {1, 2, 3, 4}
set2 = {1, 2}
is_superset = set1.issuperset(set2)
print(is_superset)

True

14. Create a set from a list

In [165]:
my_list = [1, 2, 3, 4, 5]
my_set = set(my_list)
print(my_set)

{1, 2, 3, 4, 5}

15. Convert a set to a list

In [166]:
my_set = {1, 2, 3, 4, 5}
my_list = list(my_set)
print(my_list)

[1, 2, 3, 4, 5]

16. Remove a random element from a set

In [167]:
import random
my_set = {1, 2, 3, 4, 5}
random_element = my_set.pop()
print(random_element, my_set)

1 {2, 3, 4, 5}

 17. Pop an element from a set

In [168]:
my_set = {1, 2, 3, 4, 5}
popped_element = my_set.pop()
print(popped_element, my_set)

1 {2, 3, 4, 5}

18. Check if two sets have no elements in common

In [169]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}
no_common = set1.isdisjoint(set2)
print(no_common)

True

 19. Find the symmetric difference between two sets.

In [170]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
symmetric_diff = set1 ^ set2
print(symmetric_diff)

{1, 2, 4, 5}

20. Update a set with elements from another set

In [171]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}
set1.update(set2)
print(set1)

{1, 2, 3, 4, 5, 6}

 21. Create a set of the first 5 prime numbers.

In [172]:
prime_set = {2, 3, 5, 7, 11}
print(prime_set)

{2, 3, 5, 7, 11}

 22. Check if two sets are identical

In [173]:
set1 = {1, 2, 3}
set2 = {1, 2, 3}
are_identical = set1 == set2
print(are_identical)

True

23. Create a frozen set

In [174]:
frozen_set = frozenset([1, 2, 3, 4])
print(frozen_set)

frozenset({1, 2, 3, 4})

24. Check if a set is disjoint with another set

In [175]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}
disjoint = set1.isdisjoint(set2)
print(disjoint)

True

25. Create a set of squares of numbers from 1 to 5

In [176]:
square_set = {x**2 for x in range(1, 6)}
print(square_set)

{1, 4, 9, 16, 25}

26. Filter out all even numbers from a set

In [177]:
my_set = {1, 2, 3, 4, 5}
odd_set = {x for x in my_set if x % 2 != 0}
print(odd_set)

{1, 3, 5}

27. Multiply all elements in a set by 2

In [178]:
my_set = {1, 2, 3, 4, 5}
doubled_set = {x * 2 for x in my_set}
print(doubled_set)

{2, 4, 6, 8, 10}

 28. Create a set of random numbers

In [179]:
import random
random_set = {random.randint(1, 100) for _ in range(5)}
print(random_set)

{1, 11, 46, 86, 95}

29. Check if a set is empty

In [180]:
my_set = set()
is_empty = not bool(my_set)
print(is_empty)

True

30. Create a nested set (hint: use frozenset)

In [181]:
nested_set = {frozenset({1, 2}), frozenset({3, 4})}
print(nested_set)

{frozenset({3, 4}), frozenset({1, 2})}

31. Remove an element from a set using the discard method

In [182]:
my_set = {1, 2, 3, 4}
my_set.discard(3)
print(my_set)

{1, 2, 4}

 32. Compare two sets.

In [183]:
set1 = {1, 2, 3}
set2 = {3, 2, 1}
are_equal = set1 == set2
print(are_equal)

True

 33. Create a set from a string

In [184]:
my_string = "hello"
my_set = set(my_string)
print(my_set)

{'h', 'o', 'e', 'l'}

34. Convert a set of strings to a set of integers

In [185]:
str_set = {"1", "2", "3", "4"}
int_set = {int(x) for x in str_set}
print(int_set)

{1, 2, 3, 4}

 35. Convert a set of integers to a set of strings

In [186]:
int_set = {1, 2, 3, 4}
str_set = {str(x) for x in int_set}
print(str_set)

{'1', '2', '3', '4'}

36. Create a set from a tuple

In [187]:
my_tuple = (1, 2, 3, 4, 5)
my_set = set(my_tuple)
print(my_set)

{1, 2, 3, 4, 5}

37. Convert a set to a tuple

In [188]:
my_set = {1, 2, 3, 4, 5}
my_tuple = tuple(my_set)
print(my_tuple)

(1, 2, 3, 4, 5)

38. Find the maximum value in a set

In [189]:
my_set = {1, 2, 3, 4, 5}
max_value = max(my_set)
print(max_value)

5

 39. Find the minimum value in a set.

In [190]:
my_set = {1, 2, 3, 4, 5}
min_value = min(my_set)
print(min_value)

1

 40. Create a set from user input.

In [191]:
user_input = input("Enter values separated by commas: ")
user_set = set(user_input.split(','))
print(user_set)

{'1', '3', '6', '5', '4', '2'}

41. Check if the intersection of two sets is empty

In [192]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}
is_empty = set1 & set2 == set()
print(is_empty)

True

42. Create a set of the first 5 Fibonacci numbers

In [193]:
fibonacci_set = {0, 1, 1, 2, 3}
print(fibonacci_set)

{0, 1, 2, 3}

43. Remove duplicates from a list using sets

In [194]:
my_list = [1, 2, 2, 3, 3, 4]
unique_set = set(my_list)
print(unique_set)

{1, 2, 3, 4}

44. Check if two sets have the same elements, regardless of their count

In [195]:
set1 = {1, 2, 3}
set2 = {3, 2, 1}
same_elements = set1 == set2
print(same_elements)

True

45. Create a set of the first `n` powers of 2

In [196]:
n = 5
powers_of_2 = {2**i for i in range(n)}
print(powers_of_2)

{1, 2, 4, 8, 16}

46. Find the common elements between a set and a list

In [197]:
my_set = {1, 2, 3}
my_list = [2, 3, 4]
common_elements = my_set & set(my_list)
print(common_elements)

{2, 3}

47. Create a set of the first `n` triangular numbers

In [198]:
n = 5
triangular_set = {i * (i + 1) // 2 for i in range(1, n + 1)}
print(triangular_set)

{1, 3, 6, 10, 15}

48. Check if a set contains another set as a subset

In [199]:
set1 = {1, 2, 3}
set2 = {2, 3}
is_subset = set2.issubset(set1)
print(is_subset)

True

 49. Create a set of alternating 1s and 0s of length `n`

In [200]:
n = 6
alternating_set = {1 if i % 2 == 0 else 0 for i in range(n)}
print(alternating_set)

{0, 1}

 50. Merge multiple sets into one

In [201]:
set1 = {1, 2}
set2 = {3, 4}
set3 = {5, 6}
merged_set = set1 | set2 | set3
print(merged_set)

{1, 2, 3, 4, 5, 6}